.uppercase {
    text-transform: uppercase;
}
.container-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 19%;
    height: 400px;
    // overflow-y: auto;
    margin: 2px;
    .card-img img {
        width: 100%;
        height: 400px;
    }
    .card-img {
        position: absolute;
        height: 400px;
        width: 19%;
        &:hover {
            opacity: 0.15;
            width: 100%;
        }            
        #img-not-found {
            width: 100%;
            height: 100%;
            background-color: black;
            display: flex;
            align-items: center;
            h2 {
                padding: 10px;
                line-height: 40px;
                text-align: center;
                color: red;
                text-transform: uppercase;
            }
        }
    }
}
    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 5px 15px;
        line-height: 20px;
        color: white;
        h2 {
            font-size: 1.2em;
            img {
                height: 12px;
                width: 18px;
            }
        }
        h3 {
            color: lightgrey;
            font-size: 0.6em;
        }
        p {
            color: lightgrey;
            font-size: 0.8em;
            line-height: 12px;
        }
    }
// .container-card {
//     transition: 0.5s;
// }
.container-card:hover {
    transform: scale(1.1, 1.05);
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
